<h1>Your Cart</h1>

<% if notice %>
  <p><%= notice %></p>
<% end %>

<% current_cart.try(:line_items).try(:each) do |line_item| %>
  <p><%= link_to line_item.item.title, item_path(line_item.item) %> | <%= number_to_currency(line_item.item.price) %> | Quantity: <%= line_item.quantity %> | <% if line_item.item.inventory < 5 %>
    <strong>There are only <%= line_item.item.inventory %> left in stock.</strong>
  <% end %> </p>
<% end %>

<% if current_cart.try(:checked_out?) != nil %>
  <p>Order total: <strong><%= actual_price(current_cart.try(:total)) %><%#= number_to_currency(current_cart.total) %></strong> </p>
  <%= button_to 'Checkout', checkout_path %>
<% end %>
<%= button_to "Start a new cart", carts_path(user_id: @user.id) %>
